.MKB {
  right: 52px;
  top: 26px;
  font-family: "Roboto";
  line-height: 84px;
  letter-spacing: 1.27273px;
}
.apptnow {
  left: 104.22px;
  right: 754.54px;
  top: 545.58px;
  font-family: "Roboto";
}
.navigate{
font-family: Roboto;
line-height: 48px;
}
@media screen and (max-width: 480px) {
  .hero2 {
    margin-top: -20px;
  }
}
@media screen and (max-width: 780px) {
  .hero2 {
    margin-top: -20px;
  }
}
@media screen and (max-width: 780px) {
  .hero1 {
    margin-top: 10px;
  }
}
.table{
  margin-top: 40px;
  margin-left: 100px;
}
@media screen and (max-width: 780px) {
  .table{
    margin-top: -100px;
    margin-left: 10px;
  }
}
